<div class="bg-image container-fluid ">
    <div class="row header" [ngClass]="{'solid': isScrolled}" >
        <div class="col-3">
            <img class="handle-logo" src="/images/AddyCode logo5.svg" alt="digital Marketing pic"/>
        </div>
        <div class="tagline-div col d-flex align-items-center justify-content-center" data-aos="fade-right" data-aos-delay="200">
            <label class="">AddyCode</label>
        </div>
    </div>

    <div class="row info1">
        <div class="col-md-6 mt-5 mb-4">
            <h1 class="heading-info" data-aos="fade-right" data-aos-delay="200">
                We develop online advertising solutions that accelerate growth.
                <!-- We develop digital marketing solutions that accelerate growth. -->
            </h1>
            <hr class="line-sm"/>
            <label class="info-detail" data-aos="fade-right" data-aos-delay="200">
                We deliver impactful online advertising solutions, from targeted PPC campaigns to expertly crafted websites, driving business growth with precision-driven strategies.
                <!-- we specialize in delivering impactful online advertising solutions. From targeted PPC campaigns to expertly crafted websites, our focus is to help businesses grow through precision-driven strategies. -->
                <!-- Search is in our DNA, and it always will be. But to drive true business growth we look at the bigger omnichannel picture. -->
            </label>
            <input class="btn btn-contactUsScroll mt-4" type="button" (click)="scrollToContact()" value="Contact Us">
        </div>
        <div class="col-md-6">
            <div class="img-div">
                <img class="handle-img-ppc" src="/images/ppc1.svg" alt="ppc pic"/>
            </div>
        </div>
    </div> 
    
    <div class="row info2 text-center">
        <div class="col-md-8 mx-auto">
            <label class="heading-sm-info">MISSION</label>
            <label class="heading-info" data-aos="fade-right" data-aos-delay="200">
                We’re redefining the approach to online advertising.
                <!-- We’re creating a new paradigm for digital marketing. -->
            </label>
            <hr class="line-sm"/>
            <div data-aos="fade-right" data-aos-delay="200">
                <label class="info-detail">
                    At AddyCode, we blend creativity with data-driven strategies to help businesses capture meaningful attention in an increasingly competitive digital space. By focusing on measurable results through PPC campaigns, we empower businesses to balance immediate growth with sustainable success.
                    <!-- Creativity and data-driven strategies are seamlessly integrated, empowering marketers to earn meaningful attention, balance short and long-term goals and maximize efforts in today’s ever-changing business landscape. -->
                </label><br><br>
                <label class="info-detail">
                    Our expertise lies in delivering targeted solutions that maximize advertising impact and adapt seamlessly to the ever-changing business landscape.
                </label>
            </div>
        </div>
    </div> 

    <div class="info1 text-center">
        <div>
            <h5 class="heading-sm-info white-text">SERVICES</h5>
            <h2 class="heading-info" data-aos="fade-right" data-aos-delay="200">
                Elevate Your Brand with Our Online Advertising and Website Building Solutions
            </h2>
            <hr class="line-sm"/>
        </div>
        <div class="row">
            <div class="col-md-6">
                <div class="service-img">
                    <img class="handle-img" src="/images/social media.jpg" alt="social media"/>
                </div>
                <div>
                    <h2 class="heading-info" data-aos="fade-right" data-aos-delay="200">Online Advertising </h2>
                    <label class="info-detail" data-aos="fade-right" data-aos-delay="200">
                        Maximize your brand’s reach and connect with your audience through targeted PPC campaigns. Our team specializes in creating impactful strategies that drive engagement, boost traffic, and deliver measurable results.
                        <!-- Maximize your brand's reach and connect with your audience through targeted digital marketing strategies. Our team specializes in creating impactful campaigns that drive engagement, boost traffic, and accelerate growth. -->
                    </label>
                </div>
            </div>
            <div class="col-md-6">
                <div class="service-img">
                    <img  class="handle-img" src="/images/coding.svg" alt="coding"/>
                </div>
                <div>
                    <h2 class="heading-info" data-aos="fade-left" data-aos-delay="200">Website Building</h2>
                    <label class="info-detail" data-aos="fade-left" data-aos-delay="200">
                        Transform your online presence with a professional, responsive website tailored to your business. We design sites that not only look stunning but also convert visitors into loyal customers, delivering a seamless experience across all devices.
                    </label>
                </div>
            </div>
        </div>
    </div>

    <div class="row info3 text-center">
        <div class="col-md-7 mx-auto">
            <label class="heading-sm-info">HOW WE WORK</label><br/>
            <label data-aos="fade-right" data-aos-delay="200" class="heading-info white-text">
                Seamless Advertising and Web Solutions
            </label>
            <hr class="line-sm"/>
            <div data-aos="fade-right" data-aos-delay="200">
                <label class="info-detail white-text"  >
                    At AddyCode, we specialize in delivering end-to-end solutions that amplify your brand's online presence. From crafting impactful PPC campaigns to building high-performing websites, we ensure seamless execution across platforms, devices, and advertising channels.
                </label> <br><br>
                <label class="info-detail white-text">
                    Our innovative approach combines creativity with data-driven strategies, helping businesses achieve measurable results and long-term success.                
                </label>
            </div>
            
        </div>
    </div>

    


  <div class="contactUsPerentdiv" id="contact-us">
    <form [formGroup]="contactUsForm" id="contactUsForm" (ngSubmit)="onSubmit()">
        <div class="row" >
            <div class="col-lg-7 card shadow-lg mt-4 mx-auto contactUsdiv" *ngIf="submitted">
                
                    <label class="form-label text-center headingFont-1">Contact US</label>
                    <label class='form-label' for="Name">Name: </label>
                    <input class='form-control' type="text" name="name" formControlName="userName" id="" placeholder="name" required/>
                    <div *ngIf="contactUsForm.get('userName')?.invalid && contactUsForm.get('userName')?.touched" class="text-danger">
                        *valid name is required
                    </div><br />
                    <label class='form-label' for="email">email: </label>
                    <input class='form-control' type="email" formControlName="email" name="email" id="" placeholder="email" />
                    <div *ngIf="contactUsForm.get('email')?.invalid && contactUsForm.get('email')?.touched" class="text-danger">
                        *valid email is required
                    </div><br />
                    <label class='form-label' for="contact No.">Contact No.: </label>
                    <input class='form-control' type="tel" formControlName="telNo" name="contactNo" id="" placeholder="mobile no." />
                    <div *ngIf="contactUsForm.get('telNo')?.invalid && contactUsForm.get('telNo')?.touched" class="text-danger">
                        *valid mobile no. is required
                    </div><br />
                    <label class='form-label' for="Message">Message: </label>
                    <textarea class='form-control' name="message" formControlName="message" id="" placeholder="type any message..."></textarea>
                    <div *ngIf="contactUsForm.get('message')?.invalid && contactUsForm.get('message')?.touched" class="text-danger">
                        *minimum 5 characters are required
                    </div><br />
                    <p class="text-danger text-center">{{warning}}</p>
                    <input class="btn btn-submit" type="submit" #submitBtn [disabled]="contactUsForm.invalid" value="submit">
                
            </div>
            <div class="col-md-7 card shadow-lg mt-4 mx-auto contactUsdiv sent-success" *ngIf="!submitted">
                <p class="text-center">Detail Submitted Successfully! You will be contacted soon via email or phone.</p>
            </div>
        </div>
    </form>
  </div>

  <div class="row testimonial-container info1 text-center">
    <h5 class="heading-sm-info white-text">TESTIMONIALS</h5>
    <label class="heading-info mb-3" data-aos="fade-right" data-aos-delay="200">
        Our Client Matters to Us!
    </label>
    <div class="row info1 bg-black shadow">
        <button class="btn btn-nextPriv col-md-1" (click)="prevTestimonials()"><</button>
        <div class="testimonial col-md-5" *ngFor="let testimonial of visibleTestimonials">
            <p class="info-detail white-text">{{ testimonial.testimonial }}</p>
            <h6 class="info-detail orange-text">Service availed: {{ testimonial.service }}</h6>
            <h4 class="info-detail orange-text">- {{ testimonial.name }}</h4>
        </div>
        <button class="btn btn-nextPriv col-md-1" (click)="nextTestimonials()">></button>
    </div>
  </div>
  

  <footer class="row text-center">
    <div>
        <p class="info-detail white-text">&#169; 2023 Copyright. All Rights Reserved to AddyCode.</p>
        <P class="white-text">This website is developed by Saurabh Kumar</P>
    </div> 
  </footer>
</div>
