.bg-image {
  background-image: url("/images/background2.jpg");
  overflow-x: hidden;
  font-family: Helvetica, sans-serif;
  background-color: rgba(255, 255, 255, 0);
  background-blend-mode: overlay;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.container-fluid {
  margin: 0%;
  padding: 0%;
}

.row {
  margin-right: 0%;
  margin-left: 0%;
}

.header {
  background-color: rgba(254, 169, 12, 0);
  position: fixed;
  color: rgba(255, 255, 255, 0.902);
  transition: background-color 0.5s ease;
}

.handle-logo {
  width: clamp(6rem, 6vw, 8rem);
  border-radius: 0.8vw;
}

.solid {
  width: auto;
  color: rgba(255, 255, 255, 0);
}

.tagline-div {
  font-size: clamp(2.1rem, 4vw, 3.1rem);
  font-weight: bold;
  font-family: Helvetica, sans-serif;
}

.info1 {
  background-color: rgba(254, 169, 12, 0.886);
  padding: 5rem 4vw;
}

.info2 {
  background-color: rgba(255, 255, 255, 0.936);
  padding: 4rem 0vw;
}

.info3 {
  background-color: rgb(0, 0, 0);
  padding: clamp(3rem, 8vh, 3.5rem) 0vw;
}

.heading-sm-info {
  font-weight: bold;
  color: rgba(254, 169, 12, 0.885);
  margin-bottom: 1.8rem;
}

.heading-info {
  font-weight: 900;
  font-size: clamp(1.9rem, 4vw, 3.1rem);
  color: rgba(41, 41, 41, 0.9);
}

.info-detail {
  font-weight:530;
  font-size: clamp(1.2rem, 2.5vw, 1.8rem);
  font-stretch: extra-expanded;
  color: rgba(41, 41, 41, 0.9);
}

.white-text {
  color: rgba(255, 255, 255, 0.9);
}

.orange-text {
  color: rgba(254, 169, 12, 0.885);
}

.line-sm {
  border-color: rgb(255, 98, 0);
  border-width: 1vh;
  border-radius: 1vh;
  margin: clamp(1rem, 2vh, 3rem) clamp(6rem, 18vw, 20rem);
}

.img-div {
  padding: clamp(1vh, 2vw, 4vh);
  /* margin-left: 3vh; */
}

.handle-img-ppc {
  width: 97%;
  border: 0.6vw solid #00000085;
  box-shadow: 4vw 4vh 2.5vw rgba(0, 0, 0, 0.5);
  border-radius: 3vw;
}

.handle-img {
  width: 100%;
  border: 0.6vw solid #00000085;
  box-shadow: 4vw 4vh 2.5vw rgba(0, 0, 0, 0.5);
  border-radius: 3vw;
}

.service-img {
  padding: 3vh 10vw;
}

.contactUsPerentdiv {
  background-color: rgba(255, 255, 255, 0.6);
}

.contactUsdiv {
  font-family: Helvetica, sans-serif;
  font-weight: bold;
  border-radius: 3vh;
  background-color: rgb(212, 250, 255, 0.3);
  margin-bottom: 4vh;
  padding: 5vh 3vw;
  color: rgba(254, 169, 12, 0.885);
}

.sent-success {
  padding: 20vh 5vw;
  font-weight: 500;
  font-size: clamp(1.2rem, 3vw, 1.8rem);
}

.btn-submit {
  font-family: Helvetica, sans-serif;
  font-weight: bold;
  border-radius: 3vh;
  background-color: rgba(254, 169, 12, 0.885);
  color: rgba(255, 255, 255, 0.9);
}

.btn-contactUsScroll {
  font-family: Helvetica, sans-serif;
  font-weight: bold;
  border-radius: 3vh;
  background-color: rgba(41, 41, 41, 0.9);
  color: rgba(254, 169, 12, 0.885);
}

.headingFont-1 {
  font-size: xx-large;
  margin-top: 3vh;
}

.testimonial-container {
  overflow: hidden;
  width: 100%;
}

.testimonial {
  padding: 1vw;
  box-sizing: border-box;
  transition: transform 0.5s ease-in-out;
}

.btn-nextPriv {
  color: white;
  background-color: rgba(255, 255, 255, 0.179);
  height: fit-content;
  width: fit-content;
  margin: auto;
  box-shadow: 2vh 2vw 2vh rgba(0, 0, 0, 0.5);
}

footer{
  background-color: rgb(0, 0, 0);
  padding: clamp(1rem, 4vh, 1.5rem) 0vw;
}

